.gameButton {
    display: inline-block;
    /* margin-top: 1rem;
    background-color: #d88639;
    color: rgb(0, 255, 51);
    padding: 0.5rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold; */
  }